<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style type="text/css">
        .grid {
            margin: auto;
            width: 530px;
            text-align: center;
        }

        .grid table {
            border-top: 1px solid #C2D89A;
            width: 100%;
            border-collapse: collapse;
        }

        .grid th,
        td {
            padding: 10;
            border: 1px dashed #F3DCAB;
            height: 35px;
            line-height: 35px;
        }

        .grid th {
            background-color: #F3DCAB;
        }

        .grid .book {
            padding-bottom: 10px;
            padding-top: 5px;
            background-color: #F3DCAB;
        }

        .grid .total {
            height: 30px;
            line-height: 30px;
            background-color: #F3DCAB;
            border-top: 1px solid #C2D89A;
        }
    </style>
</head>

<body>
    <div id="app">
        <div class="grid">
            <div>
                <h1>图书管理</h1>
                <div class="book">
                    <div>
                        <label for="id">
                            编号：
                        </label>
                        <input type="text" id="id" v-model='id' :disabled v-focus>
                        <label for="name">
                            名称：
                        </label>
                        <input type="text" id="name" v-model='name'>
                        <button @click='handle' :disabled="submitFlag">提交</button>
                    </div>
                </div>
            </div>
            <div class="total">
                <span>图书总数：</span>
                <span>{{total}}</span> |
                <span>{{this.books.length}}</span>
            </div>
            <div class="total">
                搜索：<input type="text" v-model="searchTxt">
            </div>
            <table>
                <thead>
                    <tr>
                        <th>编号</th>
                        <th>名称</th>
                        <th>时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr :key='item.id' v-for='item in search()'>
                        <td>{{item.id}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.date | format('YYYY-MM-DD HH:mm:ss')}}</td>
                        <td>
                            <a href="" @click.prevent='toEdit(item.id)'>修改</a>
                            <span>|</span>
                            <a href="" @click.prevent='deleteBook(item.id)'>删除</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script src="./js/moment.js"></script>
    <script type="text/javascript" src="js/vue.js"></script>
    <script src="./js/axios.js"></script>
    <script type="text/javascript">
        axios.defaults.baseURL = 'http://127.0.0.1:3000'
        //添加响应拦截器
        axios.interceptors.response.use(res => res.data)


        Vue.directive('focus', {
            inserted: function (el) {
                el.focus();
            }
        });
        Vue.filter('format', function (value, arg) {
            return moment(value).format(arg)
        })
        var vm = new Vue({
            el: '#app',
            data: {
                searchTxt: '',
                flag: false,
                submitFlag: false,
                id: '',
                name: '',
                books: []
            },
            methods: {
                // search() {
                //     return this.books.filter(item => {
                //         return item.name.indexOf(this.searchTxt) >= 0
                //     })
                // },
                async handle() {
                    if (this.flag) {
                        // 编辑图书
                        var ret = await axios.put('books/' + this.id, {
                            name: this.name
                        })
                        if (ret.status === 200) {
                            this.queryData()
                        }
                        this.flag = false;
                    } else {
                        var ret = await axios.post('books', {
                            name: this.name
                        })
                        if (ret.status == 200) {
                            this.queryData()
                        }
                    }
                    // 清空表单
                    this.id = '';
                    this.name = '';
                },
                toEdit: async function (id) {
                    // 禁止修改ID
                    this.flag = true;
                    // 根据id查询出图书信息
                    let res = await axios.get('books/' + id)
                    this.id = res.id
                    this.name = res.name
                },
                deleteBook: function (id) {
                    // 删除图书
                    // 根据id从数组中查找元素的索引
                    // var index = this.books.findIndex(function(item){
                    //   return item.id == id;
                    // });
                    // 根据索引删除数组元素
                    // this.books.splice(index, 1);
                    // -------------------------
                    // 方法二：通过filter方法进行删除
                    this.books = this.books.filter(function (item) {
                        return item.id != id;
                    });
                },
                //调用后台接口获取图书列表数据
                async queryData() {
                    this.books = await axios.get('./books')
                },
            },
            computed: {
                total: function () {
                    // 计算图书的总数
                    return this.books.length;
                }
            },
            watch: {
                async name(val) {
                    // 验证图书名称是否已经存在
                    // var flag = this.books.some(function (item) {
                    //     return item.name == val;
                    // });

                    var ret = await axios.get('books/book/' + this.name)

                    if (ret.status === 1) {
                        // 图书名称存在
                        this.submitFlag = true;
                    } else {
                        // 图书名称不存在
                        this.submitFlag = false;
                    }
                }
            },
            mounted: function () {
                this.queryData()
            }
        });
    </script>
</body>

</html>