<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>莫循的主页</title>
</head>

<body>
    <div id="app">
        <form action="">
            <div>
                用户名：
                <input type="text" v-on:keyup.delete='de' v-model='uname'>
            </div>
            <div>
                密码：
                <input type="text" v-on:keyup.enter='handleSubmit' v-model='password'>
            </div>
            <div>
                <input type="button" v-on:click='handleSubmit' value="提交">
            </div>
        </form>
    </div>

    <script src="../vue.js"></script>
    <script>
        /*  事件绑定 - 参数传递
        1. 事件直接绑定函数名称， 默认传递事件对象作为事件函数的第一个参数
        2.事件绑定函数调用,事件对象必须作为最后一个参数传递，且固定为$event */

        let vm = new Vue({
            el: '#app',
            data: {
                uname: '请输入用户名',
                password: '请输入密码'
            },
            methods: {
                handleSubmit: function () {
                    console.log(this.uname, this.password);
                },
                de: function () {
                    // 按delete键清空
                    this.uname = '';
                }
            }
        })
    </script>
</body>

</html>