 <!DOCTYPE html>
 <html lang="zh-cn">

 <head>
     <meta charset="UTF-8">
     <title>黑马莫循</title>
     <script src="../vue.js"></script>
 </head>

 <body>
     <div id="app">
         <el-row :gutter="20">
             <el-col :span="12" v-for="(column, index) in columnList" :key="index">
                 <el-card class="box-card card-column">
                     <div slot="header" class="clearfix">
                         <span>{{column.columnName}}</span>
                     </div>
                     <commodity-list :commodities="column.commodityList">
                         <template slot-scope="scope">
                             <!-- 这里只需要给Commodity组件传入数据，响应Commodity组件的clickCommodity事件即可。
                            事件不必携带参数，完全符合父到子的数据流向，而不会发生子组件又给父组件反向发数据的情况 -->
                             <commodity :modityData="scope.row" @clickCommodity="onCommodityClick(scope.row)">
                             </commodity>
                         </template>
                     </commodity-list>
                 </el-card>
             </el-col>
         </el-row>



     </div>

     <script>
         Vue.component('CommodityList', {
             template: `<el-row :gutter="20">
             <el-col :span="8" v-for="(item, index) in commodities" :key="index" style="margin-top:20px;">
                 <slot :row="item"></slot>
             </el-col>
         </el-row>`
         })
         let vm = new Vue({
             el: '#app',
             data: {},
             methods: {
                 handle: function (e) {}
             }
         });
     </script>
 </body>

 </html>