<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="js/vue.js"></script>
</head>

<body>
  <div id="app">
    <div>
      firstname: <input type="text" v-model="firstname">
    </div>
    <div>
      lastname: <input type="text" v-model="lastname">
    </div>
    <div>
      fullname: <span>{{fullname}}</span>
    </div>
    <div>
      fullname: <span>{{fullname}}</span>
    </div>
  </div>

  <script>
    var vm = new Vue({
      el: '#app',
      data: {
        firstname: '',
        lastname: ''
      },
      methods: {},
      // 计算属性：同时监听多个data属性的变化
      computed: {
        fullname() {
          console.log('fullname');
          
          return this.firstname + '.' + this.lastname
        }
      },
    });
  </script>
</body>

</html>